* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: -webkit-pictograph;
}

main .text {
	padding: 10px;
	text-align: center;
	font-size: 30px;
	color: #554;
}

h1 {
	color: #473127;
	text-align: center;
	font-size: 40px;
	font-family: 'Work+Sans:ital';
	font-style: italic;
	text-decoration: wavy;
	margin-top: 38px;
}

.text h1 {
	font-size: 50px;
}

main .head {
	width: 98%;
	height: 60px;

}

.categorie {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 20px;
	width: 100%; /* Ajouter cette ligne pour que la section occupe la largeur totale */
}

.categorie picture {
	width: 25%; /* Modifier la largeur à 25% pour afficher 4 images côte à côte */
	height: 100%;
	padding: 20px;
	display: flex;
	overflow: hidden;
	margin-bottom: 20px;
}

.categorie picture img {
	width: 100%; /* Modifier la largeur à 100% pour que l'image occupe toute la largeur de son parent */
	border-radius: 55px;
	height: 242px;
	object-fit: cover; /* Ajouter cette ligne pour que l'image conserve son ratio d'aspect et se redimensionne correctement */
}
 
section {
	width: 100%;
	height: 100%;
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	width: 33%; /* Supprimer cette duplication de la propriété */
	align-items: center;
	overflow-x: auto;
}
section::-webkit-scrollbar {
	display: none;
}

section .product {
	min-width: 20%;
	height: 100%;
	background: rgba(202, 182, 168, 0.47);
	margin: 0 20px 0 0;
	border-radius: 20px;
	position: relative;
	left: 0;
	transition: 0.5s;

}

picture {
	width: 100%;
	height: 70%;
	padding: 20px;
	/*background: green;*/
	display: flex;
	overflow: hidden;
	margin-bottom: 20px;
	position: relative;
}

picture img {
	width: 100%;
}

figcaption {
	position: absolute;
	bottom: 90px;
	left: -20px;
	right: 0;
	color: #FFFFFF;
	padding: 10px;
	margin: 0;
	text-align: center;
	font-size: 30px;
	font-weight: 100;
	text-decoration: wavy;
	font-family: 'Jost';
	font-style: normal;
	font-weight: 400;
	line-height: 87px;
	color: #FFFFFF;
}

.ligne {
	height: 1px;
	background-color: black;
	border: 0.5px solid #000000;
	transform: rotate(0.14deg);
	position: absolute;
	width: 80%;
	height: 0px;
	left: 130px;
	align-items: center;
	top: 525px;
}

.detail,
.button {
	width: 90%;
	/*background: red;*/
	margin: auto;
	padding: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	font-size: 20px;
	color: #444;
}

small {
	color: #555;
}

/*a{
			text-decoration: none;
			padding: 6px 14px;
		    font-size: 15px;
		    margin: 5px 0 0 20px;
		    display: inline-block;
		    background: #7070a1;
		    color: white;
		}*/
p.star {
	margin: 5px auto;
	width: 65%;
	font-size: 25px;
	color: #808080;
}

@media (max-width: 768px) {
	.text h1 {
		font-size: 35px;
	}

	.text p {
		width: 90%;
	}

	header h1 {
		font-size: 25px;
	}

	header p span {
		font-size: 30px;
	}

	section .product {
		min-width: 49%;
		margin: 0 10px 0 0;
	}

	.detail,
	.button {
		font-size: 16px;
	}

	a {
		padding: 6px 10px;
	}
}

/*saayiii*/
body {
	position: relative;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
}

.wrapper {
	background: white;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	height: 70px;

}

.wrapper nav {
	position: relative;
	display: flex;
	max-width: calc(100% - 200px);
	margin: 0 auto;
	height: 70px;
	align-items: center;
}

nav .content {
	display: flex;
	align-items: center;
}

nav .content .links {
	margin-left: 80px;
	display: flex;
}

.content .logo a {
	font-size: 30px;
	font-weight: 600;
}

.content .links li {
	list-style: none;
	line-height: 70px;
}

.content .links li a,
.content .links li label {
	color: black;
	font-size: 18px;
	font-weight: 500;
	padding: 9px 17px;
	border-radius: 5px;
	transition: all 0.3s ease;
}

.content .links li label {
	display: none;
}

.content .links li a:hover,
.content .links li label:hover {
	background: #CB997E9E;
}

.wrapper .search-icon,
.wrapper .menu-icon {
	color: black;
	font-size: 18px;
	cursor: pointer;
	line-height: 70px;
	width: 70px;
	text-align: center;
}

.wrapper .menu-icon {
	display: none;
}

.wrapper #show-search:checked~.search-icon i::before {
	content: "\f00d";
}

.wrapper .search-box {
	position: absolute;
	height: 100%;
	max-width: calc(100% - 50px);
	width: 100%;
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s ease;
}

.wrapper #show-search:checked~.search-box {
	opacity: 1;
	pointer-events: auto;
}

.wrapper .liste {
	left: auto;
	text-decoration: none;
	color: black;
	cursor: pointer;

}

.liste a {
	color: #000000;
}

.search-box input {
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	font-size: 17px;
	color: black;
	background: white;
	padding: 0 100px 0 15px;
}

.search-box input::placeholder {
	color: black;
}

.search-box .go-icon {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	line-height: 60px;
	width: 70px;
	background: white;
	border: none;
	outline: none;
	color: black;
	font-size: 20px;
	cursor: pointer;
}

.wrapper input[type="checkbox"] {
	display: none;
}

/* Dropdown Menu code start */
.content .links ul {
	position: absolute;
	background: #CB997E9E;
	top: 80px;
	z-index: -1;
	opacity: 0;
	visibility: hidden;
}

.content .links li:hover>ul {
	top: 70px;
	opacity: 1;
	visibility: visible;
	transition: all 0.3s ease;
}

.content .links ul li a {
	display: block;
	width: 100%;
	line-height: 30px;
	border-radius: 0px !important;
}

.content .links ul ul {
	position: absolute;
	top: 0;
	right: calc(-100% + 8px);
}

.content .links ul li {
	position: relative;
}

.content .links ul li:hover ul {
	top: 0;
}

/* Responsive code start */
@media screen and (max-width: 1250px) {
	.wrapper nav {
		max-width: 100%;
		padding: 0 20px;
	}

	nav .content .links {
		margin-left: 30px;
	}

	.content .links li a {
		padding: 8px 13px;
	}

	.wrapper .search-box {
		max-width: calc(100% - 100px);
	}

	.wrapper .search-box input {
		padding: 0 100px 0 15px;
	}
}

@media screen and (max-width: 900px) {
	.wrapper .menu-icon {
		display: block;
	}

	.wrapper #show-menu:checked~.menu-icon i::before {
		content: "\f00d";
	}

	nav .content .links {
		display: block;
		position: fixed;
		background: white;
		height: 100%;
		width: 100%;
		top: 70px;
		left: -100%;
		margin-left: 0;
		max-width: 350px;
		overflow-y: auto;
		padding-bottom: 100px;
		transition: all 0.3s ease;
	}

	nav #show-menu:checked~.content .links {
		left: 0%;
	}

	.content .links li {
		margin: 15px 20px;
	}

	.content .links li a,
	.content .links li label {
		line-height: 40px;
		font-size: 20px;
		display: block;
		padding: 8px 18px;
		cursor: pointer;
	}

	.content .links li a.desktop-link {
		display: none;
	}

	/* dropdown responsive code start */
	.content .links ul,
	.content .links ul ul {
		position: static;
		opacity: 1;
		visibility: visible;
		background: none;
		max-height: 0px;
		overflow: hidden;
	}

	.content .links #show-features:checked~ul,
	.content .links #show-services:checked~ul,
	.content .links #show-items:checked~ul {
		max-height: 100vh;
	}

	.content .links ul li {
		margin: 7px 20px;
	}

	.content .links ul li a {
		font-size: 18px;
		line-height: 30px;
		border-radius: 5px !important;
	}
}

@media screen and (max-width: 400px) {
	.wrapper nav {
		padding: 0 10px;
	}

	.content .logo a {
		font-size: 27px;
	}

	.wrapper .search-box {
		max-width: calc(100% - 70px);
	}

	.wrapper .search-box .go-icon {
		width: 30px;
		right: 0;
	}

	.wrapper .search-box input {
		padding-right: 30px;
	}
}

/*pour footer*/
.footer-1 h3 {
	color: #000;
	font-size: 20px;
	line-height: 492px;
	text-decoration: wavy;
	margin-left: 180px;
	position: absolute;
	top: 62px;
	font: 100 italic 30px 'Jost', sans-serif;

}

.footer-2 h3 {
	color: #000000;
	font: 100 italic 30px' jost', sans-serif;
	position: absolute;
	right: 240px;
	top: 62px;

}

.footer-bottom {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	position: absolute;
	top: 200px;
	margin-left: 595px;

}

a.social {
	display: block;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	color: black;
	font-size: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.2s ease;
	bottom: 100px;
	position: static;
}

a.social:hover {
	background-color: white;
	color: rgb(152, 103, 111);
}

a.social:not(:last-child) {
	margin-right: 10px;
}

footer {
	height: 10px;
}

.int-footer {
	width: 100%;
	background-color: rgba(202, 182, 168, 0.47);
	display: flex;
	top: 230px;
	height: 300px;
	align-items: end;
	position: relative;

}

.paragraph p {
	text-align: left;
	top: 138px;
	height: 30px;
	color: black;
	font-size: 25px;
	font-family: 'Varela+Round';
	font-style: italic;
	text-decoration: wavy;
	position: absolute;
	left: 50px;

}

.ecriture {
	position: relative;
}

.photo {
	position: relative;
}

.liens a {
	display: block;
	text-decoration: none;
	color: #000;
	position: relative;
	bottom: 80px;
	left: 900px;
	font-size: 30px;
}

.group-10 {
	width: px;
	height: 230.73px;
	position: relative;
	right: 80px;
	top: -200px;
	align-items: center;
}


.rectangle-26 {
	width: 200.68px;
	height: 150.43px;
	position: absolute;
	left: 345px;
	top: -19.85px;
	border-radius: 6px;
}

.rectangle-28 {
	width: 200.68px;
	height: 150.43px;
	position: absolute;
	left: 530.8px;
	top: 2.88px;
	border-radius: 6px;
}

.rectangle-29 {
	width: 200.22px;
	height: 150.71px;
	position: absolute;
	left: 900px;
	top: 2.88px;
	border-radius: 6px;
}

.rectangle-27 {
	width: 200.22px;
	height: 150.71px;
	position: absolute;
	left: 714.8px;
	top: -19.85px;
	border-radius: 6px;

}

a,
a:visited,
a:active {
	text-decoration: none;
	color: inherit;
	transition: all 0.2s ease;
}

a:hover {
	color: rgb(152, 103, 111);
}

.rectangle-26:hover {
	transform: scale(1, 1.5);

}

.rectangle-27:hover {
	transform: scale(1, 1.5);
}

.rectangle-28:hover {
	transform: scale(1, 1.5);
}

.rectangle-29:hover {
	transform: scale(1, 1.5);
}

@media only screen and (max-width: 768px) {
	.footer-1 h3 {
		margin-left: 0;
		text-align: center;
		line-height: 50px;
		font-size: 20px;
		position: relative;
		top: -60px;
	}

	.footer-2 h3 {
		margin-left: 0;
		text-align: center;
		font-size: 20px;
		position: relative;
		top: -100px;
		right: 0;
	}

	.footer-bottom {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 20px 0 0 0;
		position: relative;
		top: -60px;
	}

	.footer-bottom .social {
		display: inline-block;
		margin: 0 10px;
	}

	.footer-2 .liens a {
		margin-top: 20px;
		position: relative;
		left: 26px;
		top: -90px;
		font-size: 18px;
	}

	.int-footer {
		flex-direction: column-reverse;
		align-items: center;
		height: 500px;
		position: relative;
		top: 600px;
	}

	.paragraph p {
		text-align: center;
		position: relative;
		top: -70px;
		margin: 20px 0;
		left: 0;
	}

	.group-10 {
		position: relative;
		right: 0;
		top: 0;
	}

	.rectangle-26,
	.rectangle-27,
	.rectangle-28,
	.rectangle-29 {
		position: relative;
		top: -279px;
		left: 0;
		margin: 20px 0;
		transform: none;
	}
}

section {
	position: relative;
}

.left-arrow,
.right-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: transparent;
	border: none;
	font-size: 2rem;
	color: #ccc;
	cursor: pointer;
}

.left-arrow {
	left: 0;
}

.right-arrow {
	right: 0;
}

/*sayoiiii*/


/* Styles pour les écrans de taille moyenne et grande */
@media only screen and (min-width: 768px) {
	h1 {
		font-size: 50px;
	}

	.text h1 {
		font-size: 60px;
	}

	.main .head {
		height: 80px;
	}

	.categorie picture {
		width: calc(50% - 20px);
		margin-right: 20px;
		margin-bottom: 0;
	}

	.categorie picture:last-of-type {
		margin-right: 0;
	}
}

/* Styles pour les écrans plus petits, comme les téléphones */
@media only screen and (max-width: 767px) {
	h1 {
		font-size: 30px;
		margin-top: 20px;
	}

	.text h1 {
		font-size: 40px;
	}

	.main .head {
		height: 50px;
	}

	.categorie picture {
		width: 100%;
		margin-right: 0;
		margin-bottom: 10px;
	}

	.categorie picture:last-of-type {
		margin-bottom: 0;
	}
}