{% extends 'main.html' %}

{% block content %}

    <h1 class="titre">Resultat de Votre recherche:</h1>

  <div class="bijoux-list">
	<div class="row">
  {% if results %}
    {% for product in results %}
      <div class="bijou">
        <img src="{{product.image.url}}" >
			<h2 class="" product__title>{{product.name}}</h2>
			<p class="price">Prix : {{product.price}}</p>
			<div class="overlay">
				<a  href="{% url 'add_to_wishlist' product_id=product.pk %}" style="--1:1;" class="fa fa-heart add-to-wishlist"></a>
				<a data-product ={{product.id}}  data-action="add"
					class="btn btn-outline-secondary add-btn update-cart fa fa-shopping-cart" style="--1:2;"></a>
      </div>
      </div>
    {% endfor %}
  {% else %}
    <p>ce que vous recherchez n'existe pas.</p>
  {% endif %}
    </div>
  </div>
  <style>
     body, h1, h2, p, a {
          margin: 50;
          padding: 0;
        }
        

		h1{
			text-align: center; 
			margin-left: auto; 
			margin-right: auto; 
		}
        /* Style de la liste de bijoux */
        .bijoux-list {
            margin-top: 150px;
  margin-left: 50px;
  margin-right: 50px;
}
        
        
        /* Style d'une ligne de bijoux */
        .row {
			display: flex;
			justify-content: center; /* Centre les bijoux horizontalement */
			flex-wrap: wrap; /* Permet le passage à la ligne des bijoux */
			margin: 0 -10px; /* Ajoute des marges négatives pour compenser les marges des bijoux */
			}

			.bijou {
			width: calc(9% - -154px); /* 25% de largeur avec 20px de marges */
			margin: 10px;
			padding: 10px;
			border: 1px solid #ccc;
			border-radius: 5px;
			}
        
        /* Style de l'image d'un bijou */
        .bijou img {
          width: 100%;
          height: 200px;
          object-fit: cover;
          border-radius: 5px;
        }
        
        /* Style du titre d'un bijou */
        .bijou h2 {
          margin-top: 10px;
          font-size: 18}
         
		.categorie {
	display: flex;
	
	flex-wrap: nowrap; /* Remplacer "wrap" par "nowrap" pour que les éléments ne se répartissent pas sur plusieurs lignes */
	margin-top: 40px;
	width: 100%; /* Ajouter cette ligne pour que la section occupe la largeur totale */
	overflow-x: auto; /* Ajouter cette ligne pour ajouter une barre de défilement horizontale en cas de dépassement de la largeur */
}
.titre{
    text-align: center;
margin-left: auto;
margin-right: auto;
position: absolute;
top: 100px;
left: 500px;
}
.categorie picture {
	flex: 0 0 auto; /* Modifier "flex" à "0 0 auto" pour que les éléments aient une largeur fixe */
	width: 25%; /* Modifier la largeur à 25% pour afficher 4 images côte à côte */
	height: 100%;
	padding: 20px;
	display: flex;
	overflow: hidden;
	margin-bottom: 20px;
}

.categorie picture img {
	width: 100%; /* Modifier la largeur à 100% pour que l'image occupe toute la largeur de son parent */
	border-radius: 55px;
	height: 60%;
	object-fit: cover; /* Ajouter cette ligne pour que l'image conserve son ratio d'aspect et se redimensionne correctement */
}

section {
	width: 100%;
	height: 50%;
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	overflow-x: hidden;
}
section::-webkit-scrollbar {
	display: none;
}

	
		.messages-container {
			position: absolute;
			top: 78%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: #f2dede;
			color: #a94442;
			padding: 15px;
			margin: 0 auto;
			border: 1px solid #ff002b;
			border-radius: 4px;
			text-align: center;
			z-index: 1;
		}
		/* Règles de style pour les écrans ayant une largeur maximale de 576px, tels que les petits téléphones mobiles en mode portrait */
@media (max-width: 576px) {
   
   .row {
	margin-left: -100px;
margin-right: -122px;
   }
   .categorie {
	 overflow-x: scroll;
	 margin-bottom: 0;
   }
   .categorie picture {
	 width: 120px;
	 height: 120px;
	 margin-right: 10px;
	 margin-bottom: 0;
   }
   .bijou {
	 display: inline-block;
	 width: 34%;
	 box-sizing: border-box;
	 border: 1px solid black;
	 padding: 9px;
	 margin-left: -5px;
	 
 }
 h1{
	 margin-top: 80px;
 }
 }
  </style>
{% endblock %}