{% extends 'main.html'%}
{% block content %}
<style>
    .form-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.form {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}
.form-box {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.submit-button {
  background-color: #b8a291;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #b47f54;
}
</style>
<div class="form-box">
    <h2 class="form-title">Reset Password</h2>
    <form class="form" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="submit-button" type="submit">Submit</button>
    </form>
  </div>

{% endblock %}