{% extends 'main.html'%}
{% block content %}
<style>
    .password-reset-message {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 20px;
        margin: 50px auto;
        max-width: 600px;
      }
      .btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

.btn-primary {
  color: #fff;
  background-color: #dfb893;
  border-color: #0c0c0c;
}

.btn-primary:hover {
  color: #fff;
  background-color: #b47f54;
  border-color: #020202;
}
</style>
  <div class="password-reset-message">
    <h2>Réinitialisation du mot de passe a etais effectuer avec succée</h2>
    <p>Vous pouvez vous connecter maintenant.</p>
    <div class="mt-3">
      <a class="btn btn-primary" href="{% url 'login' %}">Se connecter</a>
    </div>
  </div>
{% endblock %}