{% extends 'main.html' %}
{% block content %}

<style>
    .message-box {
        margin-top: 7%;
        margin: 0 auto;
        max-width: 500px;
        padding: 2rem;
        border: 1px solid #ddd;
        border-radius: 0.5rem;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        text-align: center;
    }
    .message-box p {
        margin-bottom: 1rem;
    }
    .message-box h2 {
        color: #976434;
        font: 100 italic 40px 'Inter', sans-serif;
    }
    .message-box a {
        
        display: inline-block;
        font-weight: 400;
        color: #fff;
        text-align: center;
        vertical-align: middle;
        background-color: #dfb893;
        border: 1px solid #dfb893;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0.25rem;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    .message-box a:hover {
        color: #fff;
        background-color: #64451d;
        border-color: #000000;
    }
</style>

<div class="message-box">
    <h2>Réinitialisation de mot de passe envoyée</h2>
    <p>Nous avons envoyé un email contenant un lien pour réinitialiser votre mot de passe à l'adresse email que vous avez fournie. Veuillez consulter votre boîte de réception et suivre les instructions pour réinitialiser votre mot de passe.</p>
    <a href="https://mail.google.com/" target="_blank">Aller à l'e-mail</a>
</div>

{% endblock %}