{% extends 'main.html' %}
{%load static%}
{% block content %}
<style>
    .form-group {
  margin-bottom: 1rem;
}
.form-box h2{
    font: 80 italic 35px 'Inter', sans-serif;
    color: #976434;
}
label {
  display: block;
  margin-bottom: 0.5rem;
}
input[type="email"] {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
input[type="email"]:focus {
  outline: 0;
  border-color: #d19b82;
  box-shadow: 0 0 0 0.2rem rgba(17, 17, 17, 0.25);
}
.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #fff;
  border: 1px solid #ced4da;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-primary {
  color: #fff;
  background-color: #dfb893;
  border-color: #dfb893;
}
.btn-primary:hover {
  color: #fff;
  background-color: #64451d;
  border-color: #000000;
}
.form-box {
  margin: 0 auto;
  max-width: 500px;
  padding: 2rem;
  border: 17px solid #753c3c30;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  margin-top: 7%;
}

@media screen and (max-width: 576px) {
  .form-box {
    max-width: 100%;
  }
}
</style>
<div class="form-box">
    <h2>Réinitialisation de mot de passe</h2>
    <br>
    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="id_email">Votre Adresse e-mail :</label>
        <input type="email" name="email" id="id_email" required>
      </div>
      <button type="submit" class="btn btn-primary">Envoyer</button>
    </form>
  </div>
{% endblock %}

